// Font family
$default: 'Phantom Sans0.5';
$ppEiko: 'PP Eiko';

// Font weight
$light: 300;
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 900;

// Colors
$primary: #098d44;
$secondary: #233646;
$theme-green: #098d44;
$clrMenu: #001833;

// Common transition
$transition: all 300ms ease-in-out;
